/* CSS Document */
* { margin:0; padding:0;}

.clear { clear:both;}

html, body { height:100%; }
body {font-size:100%; line-height:0.8em; text-align:center}
html, input, textarea
	{	font-family:Tahoma; 
		color:#666666;
	}	


.vam{ vertical-align:middle}
.fl{ float:left}
.fr{ float:right}
.tac{ text-align: center}
.width{ width:100%}

a img{ border:0px}
img{ vertical-align:top;  }

b{color:#a30000;}

a{color:#a30000; text-decoration:underline} 
a:hover{text-decoration:none}

.a2{color:#a30000; text-decoration:none; font-weight:bold} 
.a2:hover{color:#a30000; text-decoration: underline; font-weight:bold} 
.a1{color:#5d8f00; background:url(images/arrow2.gif) top left no-repeat; background-position:0 6px; margin:0px; padding-left:10px; text-decoration:none} 
.a1:hover{text-decoration: underline} 

ul{margin:0; padding:0; list-style:none;}
ul li{background:url(images/arrow4.gif) top left no-repeat; background-position:0 8px; margin:0px; padding-left:10px; }
ul li a{color:#797979; text-decoration:none; line-height:1.5em; font-weight:bold} 
ul li a:hover { text-decoration:none; color:#a30000 }


/*header*/
#header {padding:63px 0px 0px 0px; font-size:0.6875em; color:#FFFFFF }
#header .bann{ margin:100px 0 0px 186px; position:absolute }
#header .indent_col2{padding:36px 19px 20px 25px}
#header .title{  margin-bottom:4px}
#header .title1{  margin:55px 0 14px 0}
#header .line{  margin:5px 0 0px 0}
#header .txt a { float:right; color:#bcb98e; font-size:0.8em; text-decoration:none; margin-right:12px}
#header .txt a:hover {text-decoration: underline;}
#header a{ color:#bcb98e; text-decoration:none; font-size:0.9em}
#header a:hover{text-decoration: underline}
#header span a { color:#fff; text-decoration:underline; font-size:1em}
#header span a:hover{text-decoration:none }
#header p{ margin:0px 0px 8px 0px}

#page3 #header a { color:#bcb98e; text-decoration:underline; font-size:.9em}
#page3 #header a:hover{text-decoration:none }

/*content*/
#content{ font-size:0.6875em; width:100%; text-align:left; background:url(images/cont_bg.gif) repeat-y}
#content .indent_col1{padding:0px 40px 20px 28px}
#content .indent_col2{padding:0px 40px 20px 0px}
#content .indent_col3{padding:0px 20px 20px 0px}
#content .title{  margin:28px 0 18px 0}
#content .pic_left{ float:left; margin:0px 14px 16px 0px}
#content .pic{ margin:0px 0px 16px 0px}
#content p{ margin:0px 0px 7px 0px}
#content .p{ margin:0px 0px 7px 0px}
#content .p1{ margin:11px 0px 11px 0px}
h3{ color:#a30000; font-size:1em}

#content .col1 ul{margin:22px 0 70px 25px; padding:0; list-style:none;}
#content .col1 ul li{background:url(images/arrow1.gif) bottom left no-repeat; padding:0px }
#content .col1 ul .li{background:none; padding:0px }
#content .col1 ul li a{color:#5d8f00; text-transform:uppercase; font-size:0.8em; text-decoration:none; background:url(images/arrow.gif) no-repeat top;  background-position:0 5px; padding-left:10px; line-height:3.2em; font-weight:bold; margin-left:3px} 
#content .col1 ul li a:hover { color:#000000; text-decoration:none; }




/*footer*/
#footer { color:#a9a7a7; font-size:0.6875em; background:url(images/bg_bot.gif) repeat-x top; padding:10px 0px 50px 0px;}
#footer a {color:#a9a7a7; text-decoration:none}  
#footer a:hover {  text-decoration:underline}
#footer span a {color:#5d8f00;}  


.input{
	background:#FFFFFF;
	width:138px;
	height:19px;
	font-size:1em;
	padding-left:3px;
	margin-right:4px;
	vertical-align:middle;
}
.input_but{ width:26px; height:19px;  vertical-align:middle}
.input_contact{
   	border:1px solid #bababa; 
	background:#efefef;
	width:252px; height:18px;
	font-size:1em;
	color:#9c0909;
	padding-left:5px;
	margin-bottom:3px
}
textarea{
   	border:1px solid #bababa; 
	background:#efefef;
	width:252px; height:98px;
	font-size:1em;
	color:#9c0909;
	padding-left:5px;
	margin-bottom:11px;
	overflow:auto}
